.upload-button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Отступы */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
}

.upload-button:hover {
    background-color: #45a049; /* Темнее при наведении */
}

#filedrag {
    border-radius: 7px;
    border: 2px dashed #3DA8BA;
    color: #555555;
    cursor: default;
    display: none; /* Скрыто по умолчанию */
    margin: 1em 0;
    padding: 1em;
    text-align: center;
    background: #f9f9f9;
}

#filedrag.hover {
    border-style: solid;
    box-shadow: 0 3px 4px #dbdbdb inset;
}