<!doctype html>
<html lang="ru" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Публикация новостей</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        transition: background-color 0.5s, color 0.5s;
      }
      #filedrag {
        border-radius: 7px;
        border: 2px dashed #3DA8BA;
        color: #555555;
        cursor: default;
        display: none; /* Скрыто по умолчанию */
        margin: 1em 0;
        padding: 1em;
        text-align: center;
        background: #f9f9f9;
        transition: background-color 0.3s, border-color 0.3s;
        flex-grow: 1;
      }

      #filedrag.hover {
        border-style: solid;
        box-shadow: 0 3px 4px #dbdbdb inset;
        background-color: #e0f7fa;
        border-color: #00796b;
      }

      [data-bs-theme="dark"] #filedrag {
        background: #333;
        color: #ccc;
        border-color: #555;
      }

      [data-bs-theme="dark"] #filedrag.hover {
        background-color: #444;
        border-color: #00acc1;
      }

      .success-message {
        font-size: 1.5em;
        text-align: center;
      }

      .settings-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .settings-button img {
        width: 30px;
        height: 30px;
      }

      .btn-lg {
        font-size: 1.25rem;
        padding: 0.75rem 1.25rem;
      }

      .file-upload-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .file-upload-container button {
        flex-shrink: 0;
      }

      .invalid-feedback {
        display: none;
      }
    </style>
  </head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Публикация новостей</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info success-message">
              <ul>
              {% for message in messages %}
                <li>Новость подготовлена и отправлена на публикацию. Спасибо за вашу работу!</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}

        {% if session['logged_in'] %}
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
              <form id="newsForm" action="/submit_news" method="post" enctype="multipart/form-data" class="was-validated">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="title" name="title" placeholder="Название" required>
                      <label for="title">Название</label>
                  </div>

                  <div class="mb-3">
                      <label for="age_rating" class="form-label">Возрастной ценз:</label>
                      <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">
                          <input type="radio" class="btn-check" name="age_rating" id="btnradio1" value="0+" autocomplete="off" checked>
                          <label class="btn btn-outline-primary" for="btnradio1">0+</label>

                          <input type="radio" class="btn-check" name="age_rating" id="btnradio2" value="6+" autocomplete="off">
                          <label class="btn btn-outline-primary" for="btnradio2">6+</label>

                          <input type="radio" class="btn-check" name="age_rating" id="btnradio3" value="12+" autocomplete="off">
                          <label class="btn btn-outline-primary" for="btnradio3">12+</label>

                          <input type="radio" class="btn-check" name="age_rating" id="btnradio4" value="16+" autocomplete="off">
                          <label class="btn btn-outline-primary" for="btnradio4">16+</label>

                          <input type="radio" class="btn-check" name="age_rating" id="btnradio5" value="18+" autocomplete="off">
                          <label class="btn btn-outline-primary" for="btnradio5">18+</label>
                      </div>
                  </div>

                  <div class="form-floating mb-3">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="description" style="min-height: 100px; overflow: hidden; resize: none;" required></textarea>
                      <label for="floatingTextarea">Описание</label>
                      <div class="invalid-feedback">

                      </div>
                  </div>

                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="hashtags" name="hashtags" placeholder="Хештеги">
                      <label for="hashtags">Хештеги</label>
                  </div>

                  <div class="file-upload-container mb-3">
                      <button type="button" class="btn btn-primary btn-lg" onclick="document.getElementById('file-upload').click();">Выбрать файлы</button>
                      <div id="filedrag" class="mb-3">Или перетащите их сюда</div>
                  </div>
                  <input id="file-upload" type="file" class="form-control" name="files" multiple style="display: none;" onchange="updateFileList();"/>
                  <ul id="file-list" class="list-group mb-3"></ul>
                  <div class="mb-3">
                      <label for="social_media" class="form-label">Где публиковать новость:</label>
                      <ul class="list-group">
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" name="social_media" value="МЦБС-Конда.рф" id="firstCheckbox" checked>
                              <label class="form-check-label" for="firstCheckbox">МЦБС-Конда.рф</label>
                          </li>
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" name="social_media" value="Вконтакте" id="secondCheckbox" checked>
                              <label class="form-check-label" for="secondCheckbox">Вконтакте</label>
                          </li>
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" name="social_media" value="Одноклассники" id="thirdCheckbox" checked>
                              <label class="form-check-label" for="thirdCheckbox">Одноклассники</label>
                          </li>
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" name="social_media" value="Telegram" id="fourthCheckbox" checked>
                              <label class="form-check-label" for="fourthCheckbox">Telegram</label>
                          </li>
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" name="social_media" disabled value="Viber" id="fifthCheckbox">
                              <label class="form-check-label" for="fifthCheckbox">Viber</label>
                          </li>
                      </ul>
                  </div>

                  <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-lg" id="submitButton">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                        <span>Отправить</span>
                      </button>
                  </div>
              </form>
            </div>
          </div>

          <!-- Кнопка для открытия модального окна -->
          <button class="settings-button" type="button" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <img src="https://img.icons8.com/ios-filled/50/000000/settings.png" alt="Настройки">
          </button>
        {% else %}
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2 class="text-center">Авторизация</h2>
              <form action="/login" method="post">
                  <div class="mb-3">
                      <label for="user_cod" class="form-label">Логин:</label>
                      <input type="text" class="form-control" id="user_cod" name="user_cod" required>
                  </div>

                  <div class="mb-3">
                      <label for="password_cod" class="form-label">Пароль:</label>
                      <input type="password" class="form-control" id="password_cod" name="password_cod" required>
                  </div>

                  <div class="mb-3">
                      <label for="author" class="form-label">Автор или библиотека:</label>
                      <input type="text" class="form-control" id="author" name="author" required>
                  </div>

                  <button type="submit" class="btn btn-primary">Войти</button>
              </form>
            </div>
          </div>
        {% endif %}
    </div>
    <!-- Модальное окно для настроек -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingsModalLabel">Настройки</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="themeSwitch">
              <label class="form-check-label" for="themeSwitch">День / Ночь</label>
            </div>
            <div class="mt-3">
              <h6>Выбор формы:</h6>
              <a href="/" class="btn btn-primary w-100 mb-2">Отправка новостей</a>
              <a href="/remote_request" class="btn btn-secondary w-100">Запрос на удаленное подключение</a>
            </div>
            <div class="mt-3">
              <h6>Все новости МУК Кондинская МЦБС публикуются тут:</h6>
              <ul>
                <li><a href="http://мцбс-конда.рф" target="_blank">МЦБС-Конда.рф</a></li>
                <li><a href="https://vk.com/mukmcbs" target="_blank">Вконтакте</a></li>
                <li><a href="https://ok.ru/mukmcbs" target="_blank">Одноклассники</a></li>
                <li><a href="https://t.me/mukkmcbs" target="_blank">Telegram</a></li>
              </ul>
            </div>
            <div class="mt-3">
              <h6>Полезные ссылки:</h6>
              <ul>
                <li><a href="https://ai-muk-kmcbs.zapier.app" target="_blank">Бот МУК Кондинская МЦБС</a></li>
              </ul>
            </div>
            <div class="mt-3">
              <button type="button" class="btn btn-danger w-100" id="logoutButton">Выход</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    let filesArray = [];
    const MAX_TOTAL_SIZE = 500 * 1024 * 1024; // 500 Мб

    function $id(id) {
        return document.getElementById(id);
    }

    function Output(msg) {
        const m = $id("messages");
        m.innerHTML = msg + m.innerHTML;
    }

    if (window.File && window.FileList && window.FileReader) {
        Init();
    }

    function Init() {
        const fileselect = $id("file-upload");
        const filedrag = $id("filedrag");

        fileselect.addEventListener("change", FileSelectHandler, false);
        filedrag.addEventListener("dragover", FileDragHover, false);
        filedrag.addEventListener("dragleave", FileDragHover, false);
        filedrag.addEventListener("drop", FileSelectHandler, false);
        filedrag.style.display = "block";
    }

    function FileDragHover(e) {
        e.stopPropagation();
        e.preventDefault();
        if (e.type === "dragover") {
            $id("filedrag").classList.add("hover");
        } else {
            $id("filedrag").classList.remove("hover");
        }
    }

    function FileSelectHandler(e) {
        FileDragHover(e);
        const files = e.target.files || e.dataTransfer.files;
        for (let i = 0; i < files.length; i++) {
            AddFileToInput(files[i]);
        }
    }

    function AddFileToInput(file) {
        // Проверяем, есть ли файл уже в массиве
        if (!filesArray.some(f => f.name === file.name)) {
            if (filesArray.length < 10) {
                const totalSize = filesArray.reduce((acc, f) => acc + f.size, 0) + file.size;
                if (totalSize <= MAX_TOTAL_SIZE) {
                    filesArray.push(file); // Добавляем файл в массив
                } else {
                    alert("Общий размер файлов не должен превышать 500 Мб.");
                    return;
                }
            } else {
                alert("Максимум 10 файлов можно прикрепить.");
                return;
            }
        }

        // Обновляем input.files
        const dataTransfer = new DataTransfer();
        filesArray.forEach(f => dataTransfer.items.add(f));
        $id('file-upload').files = dataTransfer.files;

        // Обновляем список файлов
        updateFileList();
    }

    function updateFileList() {
        const fileList = $id('file-list');
        fileList.innerHTML = ''; // Очистить предыдущий список файлов

        filesArray.forEach(file => {
            const li = document.createElement('li');
            li.textContent = file.name; // Отобразить имя файла
            li.classList.add('list-group-item');
            fileList.appendChild(li);
        });
    }
    // Код для переключения темы
    const switchTheme = document.getElementById('themeSwitch');
    const setTheme = (theme) => {
        document.documentElement.setAttribute('data-bs-theme', theme);
        localStorage.setItem('theme', theme);
    };

    // Установка темы при загрузке страницы
    const storedTheme = localStorage.getItem('theme') || 'dark';
    setTheme(storedTheme);
    switchTheme.checked = storedTheme === 'dark';

    switchTheme.addEventListener('change', () => {
        const theme = switchTheme.checked ? 'dark' : 'light';
        setTheme(theme);
    });

    // Удаление двойных пробелов в поле описания
    const descriptionField = document.getElementById('floatingTextarea');
    descriptionField.addEventListener('input', () => {
        descriptionField.value = descriptionField.value.replace(/\s{2,}/g, ' ');
    });

    descriptionField.addEventListener('paste', (event) => {
        event.preventDefault();
        const text = (event.clipboardData || window.clipboardData).getData('text');
        const selectionStart = descriptionField.selectionStart;
        const selectionEnd = descriptionField.selectionEnd;
        descriptionField.setRangeText(text.replace(/\s{2,}/g, ' '), selectionStart, selectionEnd, 'end');
        autoResize.call(descriptionField);
    });

    // Автоматическое изменение высоты текстового поля
    function autoResize() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    }

    document.addEventListener('DOMContentLoaded', function() {
        const textarea = document.getElementById('floatingTextarea');

        // Применяем функцию при вводе текста
        textarea.addEventListener('input', autoResize);
        textarea.addEventListener('paste', autoResize);

        // Инициализация высоты при загрузке страницы
        autoResize.call(textarea);
    });

    // Управление состоянием кнопки и спиннера при отправке формы
    document.getElementById('newsForm').addEventListener('submit', function() {
        const submitButton = document.getElementById('submitButton');
        const spinner = submitButton.querySelector('.spinner-border');
        const buttonText = submitButton.querySelector('span:last-child');

        // Показываем спиннер и изменяем текст кнопки
        spinner.style.display = 'inline-block';
        buttonText.textContent = 'Загрузка...';

        // Отключаем кнопку, чтобы предотвратить повторные отправки
        submitButton.disabled = true;
    });

    // Обработка кнопки "Выход"
    document.getElementById('logoutButton').addEventListener('click', function() {
        window.location.href = '/logout';
    });
    </script>
</body>
</html>
